@charset "UTF-8";

@import
   url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap")
   ;

.logo {
   color: white;
   padding: 28px 17px;
   font-size: 40px;
   font-weight: 500;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav1 {
   width: 100%;
   height: 80px;
   background-color: black;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

div.logo img {
   width: 150px;
   color: white;
}

/* 메뉴바 */
div.menuBar {
   padding: 28px 17px;
}

div.menuBar>a {
   text-decoration: none;
   color: white;
   font-size: 18px;
   font-weight: 700;
   padding: 28px 17px 28px 17px;
}

div.menuBar>span {
   color: white;
}

div.menuBar>a:hover {
   color: #10c410;
}

/* 섹션 */
section {
   height: auto;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: flex-start;
   margin-top: 100px;
   margin-bottom: 100px;
}

.sub_line {
   color: #fff87c;
   text-align: center;
   font-size: 18px;
   line-height: 24px;
   padding-bottom: 40px;
}

/* footer */
footer {
   /*height: 530px;*/
   background-color: black;
   display: flex;
   justify-content: center;
}

/* footer box 내용 전체 */
.container {
   max-width: 1170px;
   width: 100%;
   padding-top: 80px;
   padding-bottom: 50px;
}

.footer-menu {
   display: flex;
   justify-content: space-between;
   /*height: 346px;*/
}

/* footer menu box */
.first-box {
   width: 60%;
   /* border: 1px solid red; */
   display: flex;
   justify-content: space-between;
}

/* footer img 사이즈 */
.first-box img {
   padding-top: 10px;
   width: 132px;
}

.column {
   /* border: 1px solid blue; */
   display: flex;
   flex-direction: column;
   padding: 0 15px;
}

.sub-title {
   color: #919496;
   font-weight: 900;
   margin: 20px 0px;
}

div.column>a {
   text-decoration: none;
   color: white;
   padding-bottom: 15px;
   padding-top: 3px;
   font-size: 16px;
}

div.column>a:hover {
   color:  #10c410;
}

/* sns box */
.second-box {
   width: 40%;
   display: flex;
   justify-content: flex-end;
}

.icon-box {
   width: 54px;
   height: 54px;
   background-color: #222322;
   border-radius: 50%;
   margin-right: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icon-box i {
   font-size: 24px;
   color: white;
}

.icon-box i:hover {
   color:  #10c410;
}

/* KOREA 라인 */
.KOREA {
   display: flex;
   justify-content: flex-end;
   font-size: 12px;
   color: #919496;
}

/* last line */
.last-line {
   color: #919496;
   display: flex;
   justify-content: space-between;
   margin-top: 12px;
}

.last-line a {
   margin-left: 15px;
   text-decoration: none;
   color: #919496;
}

.last-line a:hover {
   color: #10c410;
}

a {
   text-decoration: none;
   color: black;
}

.perfumemenu {
   text-align: center;
   font-size: 19px;
   margin: 40px;
   font-weight: 600;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu1 {
   padding: 10px;
}

span:hover {
   color: #10c410;
   cursor: pointer;
}

.perfumebox {
   display: flex;
   width: 1700px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 600;
}

.perfumeimg {
   padding: 10px;
}

.perfumeimg:hover {
	cursor: pointer;
}

.perfumebox {
   display: none;
   margin-top: 50px;
}

.box {
   float: left;
   width: 250px;
   height: 200px;
   padding: 15px;
}

.box:hover {
	cursor: pointer;
}

#perfume {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 600;
}