<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//
EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.smhrd.mapper.MemberMapper">

<!--회원가입-->
<insert id="Join" parameterType="kr.smhrd.entity.Member">
INSERT INTO T_MEMBER (ID, PW, NAME, NICKNAME, BIRTHDATE, GENDER) 
VALUES (#{ID}, #{PW}, #{NAME}, #{NICKNAME}, #{BIRTHDATE}, #{GENDER});
</insert>



<!-- 메일 인증키 생성 -->
<insert id="createEmailKey">
INSERT INTO T_MAIL (email, email_key, issueDate, expiredDate) 
            VALUES (#{email}, #{email_key}, #{issueDate}, #{expiredDate});
</insert>

<!-- 메일 인증 여부 확인 -->
<select id="checkExp" resultType="kr.smhrd.entity.Mail">
SELECT * 
  FROM T_MAIL  
 WHERE email=#{email}
</select>

<!-- 메일 인증 여부 확인 -->
<select id="checkEmailKey" parameterType="kr.smhrd.entity.Mail" resultType="int">
SELECT COUNT(*) 
  FROM T_MAIL  
 WHERE email=#{email} and email_key=#{email_key}
</select>

<!-- 메일 인증 완료시 DB에서 삭제 -->
<delete id="deleteEmailKey">
DELETE
  FROM T_MAIL
 WHERE email=#{email}
</delete>

<!-- 로그정보 가져가기 / 사용 안하는 중 -->
<select id="LogCheck" parameterType="kr.smhrd.entity.Member" resultType="kr.smhrd.entity.MyLog">
SELECT A.LOG_NUM, A.ID, A.M_TITLE, A.M_ARTIST
FROM T_LOG A
</select>

<!-- 계정의 로그 갯수 카운트 -->
<select id="count" resultType="int">
	select count(LOG_NUM) 
	  from T_LOG 
	 where ID=#{ID}
</select>

<!-- 로그인 된 계정의 로그들 불러오기 -->
<select id="getLogList" resultType="kr.smhrd.entity.MyLog">
	select *
	from
	( select *
	from T_LOG 
	order by LOG_NUM desc) as T1
	where T1.ID = #{ID}
	limit #{startNo}, 4
</select>

<select id="searchP" parameterType="kr.smhrd.entity.Perfume" resultType="kr.smhrd.entity.Perfume">
SELECT *
  FROM T_PERFUME
 WHERE P_TOP=#{P_TOP} AND P_MIDDLE=#{P_MIDDLE} AND P_BASE=#{P_BASE};
</select>

<!-- 결과로그 저장 -->
<insert id="saveLog" parameterType="kr.smhrd.entity.Log">
INSERT INTO T_LOG (ID,M_ID,M_TITLE,M_ARTIST,M_IMG,P_NUM1,P_NUM2,P_NUM3) 
VALUES(#{ID},#{M_ID},#{M_TITLE},#{M_ARTIST},#{M_IMG},#{P_NUM1},#{P_NUM2},#{P_NUM3})
</insert>
</mapper>